h1{
    text-align: center;
}
.form{
    background-color: #fffbfa;
    height: 100%;
    width: 500px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
.control{
    margin-top: 10px;
}
.control label{
   font-size: 1.2em;
}
.control input{
    height: 30px;
    background-color: #d9d9d9;
    display: block;
    clear: both;
    box-shadow: #000;
    border-radius: 6px;
}
.actions {
    margin-top: 20px;
}
.actions button{
    height: 30px;
    background-color: skyblue;
    color: #fff;
    border-radius: 6px;
}